[submodule "pack/plugins/opt/nord-vim"]
	path = pack/plugins/opt/nord-vim
	url = git@github.com:arcticicestudio/nord-vim
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = git@github.com:vim/commentary.git
[submodule "pack/plugins/start/c.vim"]
	path = pack/plugins/start/c.vim
	url = git@github.com:vim-scripts/c.vim
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = git@github.com:hdima/python-syntax
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim
[submodule "pack/plugins/start/vim-cpp-enhanced-highlight"]
	path = pack/plugins/start/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight
[submodule "pack/plugins/start/vim-localvimrc"]
	path = pack/plugins/start/vim-localvimrc
	url = git@github.com:embear/vim-localvimrc
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "pack/plugins/start/vim-tpipeline"]
	path = pack/plugins/start/vim-tpipeline
	url = git@github.com:vimpostor/vim-tpipeline.git
